@import 'variables';

.btn {
  &:hover {
    cursor: pointer;
  }
}

.label {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-left: 8px;
  position: relative;
  margin-right: 16px;
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 3px;
    height: 24px;
    background: $btn_gradual_color;
    border-radius: 50px;
  }
}

.btn-gradual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  border-radius: 13px;
  background: $btn_gradual_color;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.48);
}

